ul {
    list-style-type: none;
    margin: 220;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  header{
    text-align: center;
    font-size: large;
  }

  footer{
    margin-top: 5vh;
    text-align: center;
    /*background-color: #4CAF50;*/
  }

  .centralizeme{
    margin: 0 auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  }